.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  gap: 20px;
}

/* grows to fill remaining vertical space */
.page-spacer {
  flex: 1;
}

.panel {
  border: 1px solid var(--pico-muted-border-color);
  padding: 20px;
  flex: 1;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.threads-panel {
  flex: 4;
  opacity: 0.95;
}

.goback-panel {
  flex: 6;
}

/* .panel h2 {
  margin-bottom: 0.25rem;
} 

.panel h2 + p {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-size: 0.95rem;
  color: var(--pico-muted-color);
} */

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .threads-panel,
  .goback-panel {
    flex: none;
    width: 100%;
  }
}
