.page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  gap: 20px;
}

.panel {
  border: 1px solid grey;
  padding: 20px;
  flex: 1;
}

ul {
  list-style: none;
}

ul li {
  margin: 4px 0 4px 0;
  padding: 4px;
  background-color: #f5f5f5;
}

ul li:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
}
