.threads-list ul {
  list-style: none;
}

.threads-list ul li {
  list-style: none;
  margin: 4px 0 4px 0;
  padding: 4px;
  background-color: #f5f5f5;
}

.threads-list ul li:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.threads-list li {
  cursor: pointer;
}

.threads-list li.selected {
  background-color: #e0f2f1;
}
