.thread-tab button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 1.2rem;
}

.thread-tab.is-selected button {
  color: #00796b;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 6px;
}
